<h1>Update the Client <%=@client.name() %> </h1>

<form action="/client/<%= @stylist.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Rename your client:</label>
  <input id="name" name="name" type="text">
  <label for="phone">Update phone Number:</label>
  <input id="phone" name="phone" type="text">

  <button type="submit">Update</button>
</form>

<form action="/client/<%= @stylist.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete Client</button>
</form>

<p><a href="/">Return to Main Page</a></p>
