<h1>Add a Client to your Salon:</h1>

<form action="/clients" method="post">
  <label for="client_name">Name:</label>
  <input type="text" name="client_name" id="client_name">
  <label for="client_phone">Phone Number:</label>
  <input type="text" name="client_phone" id="client_phone">
  <button type="submit" name="button">Add Client</button>
</form>

<p><a href="/clients/">View All Clients</a></p>
<p><a href="/">Return to Main Page</a></p>
