<h1>Your Stylists:</h1>

<% if @stylists.any?() %>
  <ul>
    <% @stylists.each() do |stylist|%>
    <li><a href="/stylists/<%= stylist.id() %>">Name: <%=stylist.name()%>, Phone: <%=stylist.phone()%></a></li>
    <% end %>
  </ul>
<% else %>
<p>There are no stylists for this salon</p>
<% end %>

<p><a href="/">Return to Main Page</a></p>
